---
const currentYear = new Date().getFullYear();
const ABN = "ABN 676 911 130";
const ACN = "ACN 11 676 911 130";
const copyRight = `© ${currentYear} Dot App Pty Ltd. ${ABN} ${ACN}`;
---
<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-3 xl:grid-cols-4 xl:grid-rows-4"
    >
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="relative flex items-center gap-x-4">
          <img src="/images/dotapp_logo_dark.png" alt="dotapp logo" />
        </div>
        <p
          class="text-xl mt-6 font-medium lg:text-2xl tracking-tight text-primary dark:text-white"
        >
          Development Solutions Fit For Purpose
        </p>
        <p
          class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none"
        >
          Crafting exceptional digital experiences through cutting-edge digital
          solutions for your business needs. <br /><br />Whether you're a
          startup, an established business, or an entrepreneur with a vision, we
          are here to transform your ideas into reality.
        </p>
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 rounded-3xl justify-between shadow-xl dark:shadow-thick items-center flex flex-col p-8 h-full bg-white dark:bg-secondary"
      >
        <div class="w-full">
          <p
            class="text-xl font-normal tracking-tight text-primary dark:text-white lg:text-7xl"
          >
            Cookie-Cutter Solutions
          </p>
        </div>
        <div>
          <p
            class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none"
          >
            Cookie-cutter solutions at Dot App mean leveraging proven frameworks
            to efficiently build robust websites. By harnessing established
            technologies and frameworks, we ensure rapid development without
            compromising quality, delivering tailored digital solutions that
            meet your business needs effectively
          </p>
        </div>
        <div
          class="grid mt-4 grid-cols-4 md:grid-cols-8 lg:grid-cols-4 gap-y-4 gap-4 justify-center w-full"
        >
          <a
            href="#_"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 50 50"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M 25 2 C 12.311335 2 2 12.311335 2 25 C 2 37.688665 12.311335 48 25 48 C 37.688665 48 48 37.688665 48 25 C 48 12.311335 37.688665 2 25 2 z M 25 4 C 36.607335 4 46 13.392665 46 25 C 46 36.607335 36.607335 46 25 46 C 13.392665 46 4 36.607335 4 25 C 4 13.392665 13.392665 4 25 4 z M 25 6 C 14.513273 6 6 14.513273 6 25 C 6 35.486727 14.513273 44 25 44 C 35.486727 44 44 35.486727 44 25 C 44 14.513273 35.486727 6 25 6 z M 25 8 C 28.972457 8 32.611711 9.3659473 35.501953 11.638672 C 34.996253 12.258468 34.699219 13.053218 34.699219 13.900391 C 34.699219 15.500391 35.599609 16.9 36.599609 18.5 C 37.399609 19.8 38.199219 21.500391 38.199219 23.900391 C 38.199219 25.600391 37.699219 27.700781 36.699219 30.300781 L 34.699219 36.900391 L 27.599609 15.699219 C 28.799609 15.599219 29.900391 15.5 29.900391 15.5 C 30.900391 15.4 30.800781 13.900391 29.800781 13.900391 L 29.699219 13.900391 C 29.699219 13.900391 26.500391 14.199219 24.400391 14.199219 C 22.500391 14.199219 19.199219 13.900391 19.199219 13.900391 L 19.099609 13.900391 C 18.099609 13.900391 18 15.5 19 15.5 C 19 15.5 19.999609 15.599219 21.099609 15.699219 L 24.199219 24.099609 L 19.900391 37 L 12.699219 15.599609 C 13.899219 15.499609 15 15.400391 15 15.400391 C 16 15.300391 15.900391 13.800781 14.900391 13.800781 L 14.800781 13.800781 C 14.800781 13.800781 13.489398 13.908495 12.044922 13.996094 C 15.160169 10.329869 19.798156 8 25 8 z M 37.087891 13.041016 C 38.448711 14.416493 39.563287 16.029037 40.392578 17.804688 C 40.371407 18.936367 40.18331 20.06754 39.900391 21.199219 C 39.500391 19.799219 39.000391 18.599609 38.400391 17.599609 L 38.199219 17.199219 C 37.399219 15.899219 36.800781 14.9 36.800781 14 C 36.800781 13.657445 36.90014 13.319256 37.087891 13.041016 z M 23.599609 16.099609 L 24.599609 16.099609 C 24.999609 16.199609 25.300781 16.199219 25.800781 16.199219 L 25.900391 16.400391 L 33 37.599609 L 33.697266 39.595703 C 33.315814 39.823057 32.925515 40.03486 32.525391 40.232422 L 27.199219 26 L 26.5 24.099609 L 26.300781 23.400391 L 23.599609 16.099609 z M 10.466797 16.199219 L 10.900391 16.199219 L 11 16.400391 L 18.199219 37.800781 L 18.800781 39.599609 L 18.457031 40.697266 C 18.182132 40.58291 17.919668 40.446492 17.652344 40.318359 L 9.5175781 17.994141 C 9.7979121 17.37391 10.116921 16.776828 10.466797 16.199219 z M 41.585938 21.294922 C 41.850288 22.488424 42 23.72552 42 25 C 42 30.25918 39.623202 34.947175 35.886719 38.0625 L 40.599609 24.400391 C 41.036946 23.287576 41.352417 22.261425 41.585938 21.294922 z M 8.3671875 21.472656 L 14.580078 38.423828 C 10.579353 35.316928 8 30.471959 8 25 C 8 23.789693 8.1281354 22.610588 8.3671875 21.472656 z M 25 26.599609 L 30.341797 41.134766 C 28.661425 41.688806 26.868914 42 25 42 C 23.258628 42 21.58037 41.735639 20 41.251953 L 25 26.599609 z"
              ></path></svg
            >
          </a>
          <a
            href="#_"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 50 50"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="M 22.839844 2.0351562 C 19.659152 1.9484924 16.325547 6.1910156 14.529297 12.720703 L 8.8847656 14.560547 C 8.5177656 14.680547 8.2511719 14.999812 8.2011719 15.382812 L 4.7558594 42.193359 C 4.6888594 42.718359 5.0415 43.204734 5.5625 43.302734 L 29.630859 47.882812 L 31.488281 7.1972656 L 30.376953 7.5585938 C 29.713953 5.1145938 28.473844 3.5775156 26.839844 3.2285156 C 26.344844 3.1205156 25.866344 3.1427656 25.402344 3.2597656 C 24.845344 2.6717656 24.203656 2.266375 23.472656 2.109375 C 23.262469 2.0645 23.05189 2.0409338 22.839844 2.0351562 z M 22.720703 4.0371094 C 22.835859 4.0344238 22.948953 4.0437813 23.056641 4.0664062 C 23.227641 4.1034062 23.392734 4.17925 23.552734 4.28125 C 21.567734 5.97825 20.050047 9.1985469 19.248047 11.185547 L 16.847656 11.966797 C 18.482656 6.9417969 20.993363 4.0773926 22.720703 4.0371094 z M 26.65625 5.2675781 C 27.42425 5.5845781 28.071563 6.6167344 28.476562 8.1777344 L 27.453125 8.5117188 C 27.293125 7.2737188 27.02925 6.1775781 26.65625 5.2675781 z M 24.755859 5.9179688 C 25.120859 6.7669688 25.386484 7.865625 25.521484 9.140625 L 21.791016 10.355469 C 22.804016 8.2054687 23.847859 6.7299688 24.755859 5.9179688 z M 33.482422 7.3964844 L 31.636719 47.806641 L 44.216797 45.023438 C 44.728797 44.910438 45.065234 44.421297 44.990234 43.904297 C 43.389234 32.807297 40.349922 11.701203 40.294922 11.283203 C 40.283922 11.183203 40.25875 11.085188 40.21875 10.992188 C 40.02275 10.542188 39.668313 10.219641 39.195312 10.056641 C 39.103313 10.025641 38.993484 10.007906 38.896484 10.003906 C 38.674484 9.9949062 36.702281 9.8413906 35.863281 9.7753906 C 35.177281 9.0743906 33.860578 7.7328281 33.517578 7.4238281 C 33.506578 7.4128281 33.493422 7.4064844 33.482422 7.3964844 z M 22.71875 18.023438 C 24.78275 18.023438 25.880734 18.672172 25.927734 18.701172 C 26.124734 18.820172 26.213578 19.06125 26.142578 19.28125 L 24.630859 23.941406 C 24.584859 24.083406 24.479797 24.196953 24.341797 24.251953 C 24.201797 24.309953 24.046016 24.298516 23.916016 24.228516 C 23.903016 24.221516 22.63025 23.539063 21.15625 23.539062 C 19.37325 23.539062 19.107422 24.451141 19.107422 24.994141 C 19.107422 25.583141 19.880344 26.166844 20.777344 26.839844 C 22.364344 28.031844 24.537109 29.663453 24.537109 32.939453 C 24.537109 37.043453 21.982219 39.912109 18.324219 39.912109 C 14.164219 39.912109 12.069422 37.320937 11.982422 37.210938 C 11.881422 37.083937 11.848531 36.913813 11.894531 36.757812 L 12.957031 33.185547 C 13.006031 33.022547 13.136781 32.894656 13.300781 32.847656 C 13.463781 32.803656 13.641531 32.840172 13.769531 32.951172 C 13.789531 32.969172 15.726719 34.662109 17.261719 34.662109 C 18.154719 34.662109 18.390625 33.946359 18.390625 33.568359 C 18.390625 32.588359 17.673625 31.991328 16.765625 31.236328 C 15.511625 30.194328 13.953125 28.897031 13.953125 26.082031 C 13.953125 22.201031 16.658609 18.025391 22.599609 18.025391 C 22.639609 18.025391 22.67875 18.023438 22.71875 18.023438 z"
              ></path></svg
            >
          </a>
          <a
            href="#_"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-behance h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50"
              viewBox="0 0 24 24"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 18v-12h4.5a3 3 0 0 1 0 6a3 3 0 0 1 0 6h-4.5"></path><path
                d="M3 12l4.5 0"></path><path
                d="M14 13h7a3.5 3.5 0 0 0 -7 0v2a3.5 3.5 0 0 0 6.64 1"
              ></path><path d="M16 6l3 0"></path></svg
            >
          </a>

          <a
            href="#_"
            class="flex items-center justify-center aspect-square shadow-xl dark:shadow-thick hover:bg-zinc-100 dark:hover:bg-primary ring-1 bg-zinc-50 dark:ring-white/10 ring-primary/5 dark:bg-tertiary rounded-lg hover:ring-primary/5 dark:hover:ring-white/20 duration-300 group transition-all h-12 w-12"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler h-6 w-6 group-hover:scale-125 duration-300 text-primary dark:text-white group-hover text-primary:dark:text-white/50 icon-tabler-brand-dribbble"
              viewBox="0 0 48 48"
              stroke-width="0.8"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                fill="#bcbcbc"
                d="M29.397,16.5c-4.101,3.736-7.87,7.417-11.809,11.323c-1.827,1.812-3.753,3.712-6.232,4.402 c-1.909,0.532-4.029,0.258-5.741-0.742s-2.991-2.712-3.466-4.636c-0.681-2.76,0.29-5.717,1.928-8.041s3.886-4.134,6.085-5.936 s4.608-3.808,6.143-6.201c0.688,0.589,1.492,1.127,2.005,1.873c-2.102,2.612-4.508,4.98-7.153,7.04 c-0.585,0.455-1.186,0.9-1.678,1.454c-0.757,0.853-1.223,1.929-1.949,2.809c-0.6,0.727-1.385,1.335-1.743,2.207 c-0.259,0.631-0.264,1.334-0.234,2.015c0.047,1.068,0.19,2.18,0.787,3.068c1.111,1.651,3.509,1.995,5.381,1.32 c1.872-0.675,3.341-2.127,4.746-3.536c3.474-3.488,6.858-6.651,10.333-10.139c0.099-0.1,0.205-0.203,0.341-0.239 c0.181-0.047,0.369,0.038,0.533,0.129C28.467,15.115,28.952,15.705,29.397,16.5z"
              ></path><path
                fill="#bcbcbc"
                d="M35.453,10.448C34.5,9.22,32.597,8.378,31.117,7.907c-1.138-0.363-2.334-0.634-3.522-0.5 c-1.581,0.177-2.991,1.05-4.283,1.979c-1.344,0.967-2.625,2.019-3.834,3.15c-1.053,0.985-2.05,2.027-3.047,3.069 c-2.323,2.428-4.617,5.036-6.94,7.465c0.191,0.447,0.421,1.087,0.779,1.417s0.917,0.492,1.339,0.251 c0.162-0.093,0.289-0.234,0.413-0.374c3.718-4.154,7.748-8.029,12.045-11.58c0.939-0.776,1.916-1.551,3.067-1.952 c2.202-0.767,4.864,0.095,6.198,2.007C34.025,12.023,34.762,11.262,35.453,10.448z"
              ></path><path
                fill="#bcbcbc"
                d="M39.008,25.732c-3.268,3.271-6.59,6.676-9.858,9.947c-1.36,1.361-2.731,2.732-4.334,3.796 c-1.603,1.064-3.474,1.812-5.397,1.784c-1.279-0.018-2.536-0.379-3.696-0.918c-0.919-0.427-1.785-0.69-2.573-1.327 c-0.167-0.135-0.343-0.3-0.353-0.514c-0.007-0.158,0.081-0.303,0.171-0.433c0.402-0.58,1.055-1.12,1.651-1.497 c1.401,1.411,3.653,1.654,5.626,1.41c1.973-0.244,3.801-1.228,5.311-2.521c0.984-0.843,1.846-1.817,2.705-2.787 c2.295-2.591,4.589-5.183,6.884-7.774c0.334-0.377,0.694-0.771,1.176-0.919C37.5,24.5,38.337,24.814,39.008,25.732z"
              ></path><path
                fill="#bcbcbc"
                d="M18.256,32.486c4.153-4.839,8.647-9.49,13.489-13.639c1.381-1.183,2.91-2.388,4.722-2.54 c1.932-0.162,3.73,0.908,5.367,1.947c0.779,0.494,1.567,1,2.18,1.689c1.623,1.825,1.694,4.638,0.815,6.918 c-0.879,2.279-2.549,4.149-4.184,5.964c-0.686,0.762-1.372,1.523-2.059,2.285c-2.144,2.38-4.695,4.606-6.93,6.901 c-0.644-0.622-1.47-1.394-2.113-2.016c4.151-3.324,7.406-7.403,10.801-11.497c1.219-1.47,2.506-3.198,2.222-5.086 c-0.339-2.254-2.932-3.614-5.196-3.346c-2.264,0.268-4.2,1.722-5.883,3.26c-1.215,1.11-2.364,2.291-3.511,3.471 c-2.33,2.396-4.661,4.793-6.991,7.189c-0.208,0.213-0.457,0.444-0.754,0.419c-0.161-0.013-0.304-0.101-0.437-0.193 C19.189,33.792,18.642,33.114,18.256,32.486z"
              ></path><path
                fill="#010101"
                d="M29.75,16.854c0.134-0.122,0.167-0.264,0.146-0.397c-0.001-0.008-0.005-0.016-0.006-0.024 c-0.01-0.044-0.02-0.086-0.042-0.126c-0.009-0.02-0.008-0.039-0.019-0.059c-0.514-0.896-1.967-2.874-3.18-1.998 c-0.647,0.467-1.193,1.165-1.762,1.726c-0.742,0.732-1.489,1.461-2.236,2.188c-1.373,1.335-2.751,2.664-4.119,4.005 c-1.351,1.323-2.644,2.725-4.064,3.974c-1.196,1.053-2.629,2.016-4.266,2.126c-1.417,0.095-2.949-0.398-3.634-1.729 c-0.39-0.756-0.479-1.635-0.515-2.472c-0.046-1.062,0.097-1.928,0.806-2.749c0.454-0.525,0.955-0.996,1.364-1.559 c0.561-0.772,0.975-1.651,1.61-2.369c0.687-0.777,1.577-1.36,2.377-2.01c0.752-0.611,1.483-1.247,2.192-1.906 c1.529-1.422,2.948-2.954,4.261-4.577c0.129-0.16,0.216-0.417,0.078-0.606c-0.577-0.792-1.341-1.349-2.083-1.974 c-0.253-0.213-0.598-0.185-0.785,0.101c-2.312,3.542-6.001,5.846-9.076,8.649c-2.91,2.652-5.573,6.208-5.357,10.354 c0.2,3.838,3.156,7.032,6.971,7.508c4.192,0.522,7.226-2.469,9.964-5.181C22.105,24.052,25.87,20.392,29.75,16.854z M10.523,31.9 c-3.818,0.647-7.528-2.097-8.033-5.932c-0.525-3.988,2.09-7.495,4.852-10.046c3.044-2.811,6.639-5.113,9.056-8.535 c0.445,0.356,0.887,0.72,1.258,1.15c-1.112,1.348-2.29,2.639-3.555,3.846c-1.38,1.317-2.909,2.43-4.342,3.68 c-1.355,1.183-2.061,2.895-3.288,4.2c-0.518,0.551-1.012,1.136-1.244,1.87c-0.275,0.866-0.214,1.85-0.116,2.741 c0.164,1.496,0.719,2.905,2.057,3.713c1.213,0.733,2.751,0.847,4.109,0.522c1.616-0.386,3.003-1.432,4.206-2.536 c1.44-1.322,2.787-2.751,4.186-4.117c1.627-1.589,3.266-3.166,4.891-4.756c0.839-0.821,1.665-1.657,2.505-2.478 c0.218-0.213,0.261-0.181,0.521-0.021c0.196,0.12,0.376,0.262,0.542,0.42c0.248,0.238,0.443,0.512,0.625,0.798 c-3.091,2.828-6.116,5.728-9.103,8.666c-1.438,1.414-2.831,2.89-4.344,4.225C13.935,30.518,12.361,31.588,10.523,31.9z"
              ></path><path
                fill="#010101"
                d="M14.754,16.654c-1.877,2.015-3.713,4.068-5.615,6.06c-0.112,0.117-0.196,0.325-0.129,0.487 c0.316,0.752,0.606,1.591,1.393,1.966c0.872,0.415,1.538,0.03,2.128-0.624c1.53-1.696,3.106-3.35,4.734-4.953 c1.601-1.575,3.249-3.101,4.942-4.576c0.838-0.73,1.683-1.453,2.547-2.152c0.85-0.688,1.776-1.364,2.847-1.653 c1.931-0.522,4.129,0.264,5.3,1.88c0.173,0.239,0.557,0.367,0.785,0.101c0.692-0.809,1.426-1.58,2.119-2.389 c0.12-0.141,0.14-0.298,0.107-0.441c-0.011-0.09-0.038-0.181-0.107-0.266c-1.119-1.378-2.905-2.142-4.557-2.669 c-2.155-0.688-4.211-0.743-6.253,0.307c-1.929,0.992-3.682,2.474-5.289,3.916C17.961,13.215,16.352,14.939,14.754,16.654z M23.831,9.628c0.82-0.575,1.687-1.126,2.641-1.452c1.103-0.377,2.229-0.364,3.357-0.107c1.718,0.39,3.676,1.089,4.948,2.389 c-0.475,0.539-0.955,1.074-1.43,1.612c-0.955-1.058-2.243-1.751-3.674-1.954c-1.836-0.26-3.476,0.403-4.929,1.494 c-3.488,2.62-6.699,5.721-9.743,8.836c-0.893,0.914-1.77,1.843-2.631,2.787c-0.348,0.382-0.846,1.24-1.434,1.071 c-0.463-0.133-0.687-0.676-0.864-1.125c2.98-3.138,5.811-6.42,8.894-9.458C20.477,12.232,22.094,10.847,23.831,9.628z"
              ></path><path
                fill="#010101"
                d="M32.899,32.612c2.152-2.177,4.299-4.36,6.462-6.526c0.017-0.017,0.021-0.035,0.035-0.052 c0.147-0.137,0.206-0.342,0.044-0.554c-0.51-0.665-1.122-1.129-1.877-1.49c-0.338-0.161-0.742-0.423-1.109-0.493 c-0.381-0.072-0.775,0.216-1.056,0.443c-0.845,0.684-1.526,1.643-2.245,2.455c-0.765,0.864-1.53,1.727-2.295,2.591 c-1.536,1.734-3.019,3.541-4.654,5.183c-1.447,1.454-3.164,2.676-5.185,3.162c-1.984,0.478-4.502,0.372-6.046-1.115 c-0.154-0.148-0.419-0.2-0.606-0.078c-0.732,0.477-1.935,1.279-2.052,2.229c-0.122,0.988,1.286,1.583,2.005,1.905 c2.21,0.989,4.359,1.803,6.818,1.322c2.341-0.458,4.373-1.842,6.125-3.404C29.232,36.435,31.045,34.488,32.899,32.612z M17.768,40.541c-1.168-0.286-2.331-0.806-3.403-1.348c-0.244-0.124-0.485-0.258-0.707-0.418c-0.288-0.206-0.409-0.257-0.177-0.56 c0.306-0.399,0.701-0.719,1.112-1.008c2.38,1.947,6.122,1.62,8.733,0.339c1.628-0.799,2.992-2.009,4.217-3.328 c1.4-1.507,2.739-3.075,4.103-4.615c0.792-0.895,1.584-1.789,2.377-2.684c0.41-0.463,0.82-0.925,1.229-1.388 c0.317-0.358,0.642-0.784,1.081-1.003c0.716,0.309,1.432,0.641,1.981,1.194c-3.154,3.164-6.278,6.359-9.434,9.52 C25.94,38.186,22.317,41.653,17.768,40.541z"
              ></path><path
                fill="#010101"
                d="M45.829,22.952c-0.225-1.814-1.129-3.276-2.591-4.358c-1.53-1.133-3.37-2.326-5.266-2.689 c-1.928-0.369-3.677,0.341-5.209,1.48c-1.64,1.219-3.149,2.641-4.642,4.032c-3.614,3.366-7,6.97-10.219,10.715 c-0.012,0.014-0.015,0.03-0.025,0.045c-0.134,0.14-0.189,0.345-0.053,0.561c0.68,1.073,2.04,2.936,3.385,1.729 c1.43-1.283,2.712-2.783,4.051-4.161c1.351-1.389,2.697-2.784,4.055-4.166c1.277-1.3,2.569-2.627,4.027-3.727 c1.339-1.01,2.957-1.906,4.682-1.88c1.315,0.02,2.732,0.596,3.52,1.683c1.004,1.384,0.472,3.045-0.374,4.361 c-0.96,1.494-2.216,2.829-3.352,4.19c-2.648,3.173-5.4,6.274-8.628,8.875c-0.208,0.168-0.179,0.535,0,0.707 c0.701,0.676,1.412,1.341,2.113,2.016c0.193,0.186,0.515,0.196,0.707,0c1.55-1.586,3.183-3.087,4.76-4.646 c1.549-1.531,2.99-3.161,4.445-4.781C43.702,30.17,46.322,26.925,45.829,22.952z M40.797,31.909 c-1.492,1.673-2.977,3.357-4.567,4.938c-1.512,1.504-3.076,2.955-4.578,4.468c-0.455-0.435-0.911-0.869-1.366-1.303 c2.794-2.314,5.25-4.989,7.586-7.759c1.186-1.406,2.398-2.804,3.516-4.264c1.002-1.309,1.901-2.867,1.679-4.578 c-0.369-2.835-3.577-4.211-6.135-3.784c-3.54,0.591-6.274,3.707-8.652,6.141c-1.586,1.624-3.166,3.255-4.749,4.882 c-0.824,0.848-1.648,1.695-2.472,2.543c-0.17,0.175-0.349,0.436-0.556,0.566c-0.325,0.205-0.515-0.01-0.756-0.226 c-0.332-0.296-0.603-0.646-0.854-1.011c2.53-2.929,5.158-5.774,7.927-8.48c1.433-1.401,2.902-2.766,4.409-4.087 c1.332-1.167,2.737-2.527,4.49-3.007c1.945-0.533,3.794,0.451,5.405,1.449c1.578,0.978,3.057,1.976,3.561,3.866 C45.679,25.989,43.119,29.305,40.797,31.909z"
              ></path></svg
            >
          </a>
        </div>
      </div>
      <div
        class="ring-1 lg:row-span-2 flex flex-col justify-between group hover:ring-primary/10 dark:hover:ring-white/20 duration-300 h-full dark:ring-white/10 ring-primary/5 lg:row-start-2 md:grid-cols-2 md:grid lg:gap-0  md:gap-12 lg:grid-cols-none lg:col-start-2 lg:col-span-2 rounded-3xl p-8 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
        <div>
         
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
            Cloud Infrastructure & DevOps
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400">
            Discover the transformative capabilities of Dot App's Cloud
            Infrastructure and DevOps expertise.
            <br /><br />
            We can assist you in designing resilient cloud architectures that boost
            performance, fortify security, and streamline operations. <br /><br
            />
            Whether you're initiating a new initiative or scaling existing systems,
            our skilled team ensures your infrastructure is agile, dependable, and
            primed for growth. Harness the power of advanced technology and agile
            DevOps strategies tailored to elevate your business in today's digital
            era.
          </p>
          <div class="flex justify-between mt-12">
            <img
              src="https://logos-world.net/wp-content/uploads/2021/08/Amazon-Web-Services-AWS-Logo.png"
              alt="AWS logo"
              class="h-auto max-w-lg mx-auto"
              style="max-width: 250px"
            />
           
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Microsoft_Azure.svg/2048px-Microsoft_Azure.svg.png"
                alt="Azure logo"
                class="h-auto max-w-lg mx-auto"
                style="max-width: 200px"

              />
          </div>
          <div class="flex justify-center mt-10">
            <img src="/images/devops.png" alt="DevOps" 
            width="500"
            class="rounded-2xl object-cover ring-1 dark:ring-white/10 ring-primary/5 bg-tertiary  mt-10"
            />
          </div>
        </div>
        
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col justify-between items-center rounded-3xl shadow-xl dark:shadow-thick p-8 bg-white dark:bg-secondary overflow-hidden text-center lg:text-left"
      >
        <div>
          <p
            class="text-xl text-primary dark:text-white lg:text-7xl tracking-tight"
          >
            Custom Solutions
          </p>
          <p
            class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 md:max-w-xs lg:max-w-none"
          >
            Have something special in mind? We also specialise in custom
            solutions. Reach out to us and we'll be happy to help you bring your
            ideas to life. Small-scale projects, large-scale projects, we've got
            you covered.
          </p>
        </div>
        <div class="w-full mt-8 md:max-w-xs lg:max-w-none">
          <a
            type="button"
            href="mailto:info@dotapp.au"
            class="text-sm py-2 w-full px-4 h-12 font-semibold focus:ring-2 rounded-lg bg-primary dark:bg-white dark:text-primary dark:hover:text-white hover:text-primary dark:hover:bg-white/5 hover:bg-primary/10 text-white flex duration-200 focus:ring-offset-2 focus:ring-inline-flex items-center justify-between"
          >
            Let's Chat!
          </a>
        </div>
      </div>
      <div
        class="ring-1 lg:row-start-3 items-center h-full flex p-8 flex-col justify-center hover:ring-primary/5 dark:hover:ring-white/20 dark:ring-white/10 ring-primary/5 relative rounded-3xl overflow-hidden bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
      <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Flag-map_of_Australia.svg/2195px-Flag-map_of_Australia.svg.png" alt="Oi Oi Oi">
        <p class="text-xl text-primary dark:text-white lg:text-2xl mt-6">
          Aussi Based
        </p>
        <p
        class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 text-center lg:text-left md:max-w-xs lg:max-w-none"
        >All of our work is done right here with face-to-face meetups and solutions tailored for Australian businesses. Having said that, we're flexible to work with global clients as well</p>
      </div>
      <div
        class="lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 hover:ring-primary/5 bg-white dark:bg-secondary dark:hover:ring-white/20 overflow-hidden duration-300 shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <div class="">
          <img
            src="/images/mobile-app-development.png"
            class="rounded-2xl object-cover ring-1 dark:ring-white/10 ring-primary/5 bg-tertiary w-min h-auto"
            alt=""
          />
        </div>
        <div class="mt-8">
          <div class="flex flex-wrap">
            <div
              class="flex items-center text-sm font-medium text-primary dark:text-white"
            >
              <svg
                class="flex-none w-4 h-4 stroke-current"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill="#7cb342"
                  d="M12 29c0 1.1-.9 2-2 2s-2-.9-2-2v-9c0-1.1.9-2 2-2s2 .9 2 2V29zM40 29c0 1.1-.9 2-2 2s-2-.9-2-2v-9c0-1.1.9-2 2-2s2 .9 2 2V29zM22 40c0 1.1-.9 2-2 2s-2-.9-2-2v-9c0-1.1.9-2 2-2s2 .9 2 2V40zM30 40c0 1.1-.9 2-2 2s-2-.9-2-2v-9c0-1.1.9-2 2-2s2 .9 2 2V40z"
                ></path><path
                  fill="#7cb342"
                  d="M14 18v15c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V18H14zM24 8c-6 0-9.7 3.6-10 8h20C33.7 11.6 30 8 24 8zM20 13.6c-.6 0-1-.4-1-1 0-.6.4-1 1-1s1 .4 1 1C21 13.1 20.6 13.6 20 13.6zM28 13.6c-.6 0-1-.4-1-1 0-.6.4-1 1-1s1 .4 1 1C29 13.1 28.6 13.6 28 13.6z"
                ></path><path
                  fill="#7cb342"
                  d="M28.3 10.5c-.2 0-.4-.1-.6-.2-.5-.3-.6-.9-.3-1.4l1.7-2.5c.3-.5.9-.6 1.4-.3.5.3.6.9.3 1.4l-1.7 2.5C29 10.3 28.7 10.5 28.3 10.5zM19.3 10.1c-.3 0-.7-.2-.8-.5l-1.3-2.1c-.3-.5-.2-1.1.3-1.4.5-.3 1.1-.2 1.4.3l1.3 2.1c.3.5.2 1.1-.3 1.4C19.7 10 19.5 10.1 19.3 10.1z"
                ></path>
              </svg>
              <span class="ml-2.5"> Android</span>
            </div>
            <div
              class="flex items-center ml-6 text-sm font-medium text-primary dark:text-white"
            >
              <svg
                viewBox="0 0 48 48"
                aria-label="Tailwind CSS"
                class="flex-none w-4 h-4 stroke-current"
                width="64"
                height="64"
                astro-icon="logos:tailwindcss-icon"
              >
                <path
                  fill="#FFFFFF"
                  d="M 44.527344 34.75 C 43.449219 37.144531 42.929688 38.214844 41.542969 40.328125 C 39.601563 43.28125 36.863281 46.96875 33.480469 46.992188 C 30.46875 47.019531 29.691406 45.027344 25.601563 45.0625 C 21.515625 45.082031 20.664063 47.03125 17.648438 47 C 14.261719 46.96875 11.671875 43.648438 9.730469 40.699219 C 4.300781 32.429688 3.726563 22.734375 7.082031 17.578125 C 9.457031 13.921875 13.210938 11.773438 16.738281 11.773438 C 20.332031 11.773438 22.589844 13.746094 25.558594 13.746094 C 28.441406 13.746094 30.195313 11.769531 34.351563 11.769531 C 37.492188 11.769531 40.8125 13.480469 43.1875 16.433594 C 35.421875 20.691406 36.683594 31.78125 44.527344 34.75 Z M 31.195313 8.46875 C 32.707031 6.527344 33.855469 3.789063 33.4375 1 C 30.972656 1.167969 28.089844 2.742188 26.40625 4.78125 C 24.878906 6.640625 23.613281 9.398438 24.105469 12.066406 C 26.796875 12.152344 29.582031 10.546875 31.195313 8.46875 Z"
                ></path>
              </svg>
              <span class="ml-2.5"> iOS</span>
            </div>
          </div>
          <p
            class="ext-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl mt-6"
          >
            Native & Hybrid Mobile Apps
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 font-light">
            Dot App specialises in building bespoke mobile applications,
            meticulously designed to meet your unique service needs. Our team
            combines advanced UX/UI design with state-of-the-art
            functionalities, ensuring seamless performance across all platforms.
          </p>
        </div>
      </div>
      <a
      href="mailto:info@dotapp.au"
        class="ring-1 dark:ring-white/10 ring-primary/5 flex flex-col p-8 h-full justify-center items-center rounded-3xl overflow-hidden relative lg:col-span-2 lg:row-start-4 bg-white dark:bg-secondary shadow-xl dark:shadow-thick"
      >
        <div class="relative p-8 text-center w-full">
          <p
            class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-6xl"
          >
            Reach out <b>today</b>
          </p>
          <p class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 text-2xl">
            Ready to take the next step? Reach out to us and let's discuss how we
            can help you achieve your goals.</p>
          <p
            class="mt-4 text-sm text-zinc-500 dark:text-zinc-400 text-4xl mt-10 hover:text-white"
            >info@dotapp.au</p>
        </div>
      </a>
      
      <div
        class="lg:col-span-2 xl:col-span-1 h-full flex flex-col justify-between lg:row-span-2 ring-1 dark:ring-white/10 ring-primary/5 bg-white dark:bg-secondary shadow-xl dark:shadow-thick rounded-3xl p-8"
      >
        <p
          class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-2xl"
        >
        Unlock your digital potential with Dot App's expert SEO services. 
        <br><br>
        We specialize in optimizing your online presence with tailored strategies that enhance visibility, drive traffic, and elevate your search engine rankings. Our dedicated team employs proven techniques in keyword analysis, content optimization, and link building to ensure your website stands out in search results. 
        <br><br>
        Partner with us to achieve sustainable growth and maximize your online impact through strategic SEO initiatives.
        </p>
      </div>
      <div
        class="ring-1 dark:ring-white/10 ring-primary/5 shadow-xl dark:shadow-thick rounded-3xl p-8 lg:row-start-4 h-full flex flex-col justify-center items-center bg-white dark:bg-secondary md:grid-middle"
      >
        <div class="md:grid md:grid-cols-2 gap-6 lg:grid-cols-1">
          <p
        class="text-xl tracking-tight font-medium text-primary dark:text-white md:text-2xl text-center"
          >All rights reserved {copyRight}</p>
        </div>
      </div>
    </div>
  </div>
</section>
