---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
  <title>Dot App | Software & Web Dev</title>

    <BaseHead />
  </head>

  <body class="dark:bg-primary bg-zinc-200 ">
    <slot />
  </body>
</html>
